@import '~antd/dist/antd.css';

/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

:root {
  /* --font-pt-san: 'PT Sans', sans-serif; */
  --primary-color: #95c5f7;
  --primary-color-light: #eaf5fe;
  --primary-color-dark: #244263;
  --secondary-color: #ffa27e;
  --secondary-color-light: #ffeed7;
  --text-primary: #1a2a48;
  --text-gray: #867e7e;
  --white-color: #ffffff;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto !important;
  }
}

body {
  /* font-family: var(--font-pt-san); */
  scroll-behavior: smooth;
  overflow-x: hidden;
}
